// Colors
$primary-color: #232e46;
$secondary-color: #16a34a;
$danger-color: #dc2626;
$bg-dark: #1f2937;
$text-light: #f9fafb;
$border-color: #e5e7eb;
$light-gray: #f3f4f6;
$gray-color: #6b7280;

// Spacing
$padding: 1rem;
$radius: 0.5rem;
